In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%load_ext sql
from sqlalchemy import create_engine

In [7]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [8]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## This query is designed to track customer transaction behaviors across various channels 
## The goal is to understand how customers interact with each channel over time and use this data to make informed business decisions.

In [12]:
%%sql
SELECT 
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
   flow

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(Decimal('10'), Decimal('2021'), 'system', 9858812.670000002, -6873930.329999974, 2984882.340000012, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'teller', 1856126.6199999996, -420870.65, 1435255.97, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'system', 29821659.81999997, -19908426.87000063, 9913232.949999874, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'teller', 8167242.039999999, -1877250.73, 6289991.31, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'system', 912890.8800000001, -511596.39000000013, 401294.4899999998, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'teller', 133245.84, -66463.43, 66782.41, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'system', 32287908.459999956, -23830111.040000904, 8457797.419999925, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'teller', 10195236.15, -2116167.7699999996, 8079068.380000003, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'system', 15988925.080000008, -10327997.290000059, 5660927.790000028, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'teller', 2818577.4899999998, -742342.67, 2076234.82, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'system', 29910717.239999987, -20737995.15000073, 9172722.089999938, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'teller', 9333243.950000001, -2107917.0500000007, 7225326.9, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'system', 6414630.199999999, -3932477.249999986, 2482152.950000009, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'teller', 969407.8300000001, -256049.46999999997, 713358.3600000001, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'system', 26214228.40999999, -18857395.030000597, 7356833.380000024, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'teller', 10900551.55, -2818096.22, 8082455.330000001, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'system', 25504367.57999999, -17927563.900000483, 7576803.680000026, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'teller', 4366534.380000001, -1019841.75, 3346692.63, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'system', 21175828.540000014, -15297364.78000034, 5878463.7600000445, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'teller', 9390266.780000005, -2821152.3, 6569114.480000001, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'system', 2649958.6799999992, -1651552.4599999988, 998406.2200000001, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'system', 15537536.910000013, -11515508.44000011, 4022028.470000057, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'teller', 8727935.57, -2813083.2700000005, 5914852.300000001, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'system', 26128050.009999994, -17928610.54000051, 8199439.469999994, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'teller', 5776788.729999999, -1205648.39, 4571140.34, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'system', 9036268.57, -7330752.019999967, 1705516.5500000147, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'teller', 9393845.160000002, -2434461.7299999995, 6959383.429999999, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'atm', 957376.81, -8398322.47, -7440945.66, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.33999999997, -165781.45, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'internet', 507749.17000000004, -1031156.4299999997, -523407.25999999995, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'internet', 1360257.41, -2148567.68, -788310.2699999999, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.44, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.1900000004, -1130748.78, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.63, -5214364.0, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'internet', 3619169.2600000002, -5569608.640000001, -1950439.38, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.219999999, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'internet', 6622108.090000002, -9059295.679999998, -2437187.590000001, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.489999998, -9484852.26, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'internet', 6551594.359999998, -9305518.919999998, -2753924.560000001, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.110000001, -11137516.34, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'internet', 8743750.5, -11931702.299999999, -3187951.7999999993, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'atm', 1848121.2000000002, -14025678.700000001, -12177557.5, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.69, -4175482.330000003, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'atm', 1947036.3199999998, -13405640.36, -11458604.04, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'internet', 8344147.59, -11973027.129999997, -3628879.539999999, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'atm', 1659089.85, -12091816.7, -10432726.85, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'internet', 8320647.6000000015, -11289020.78, -2968373.1800000006, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'internet', 7568164.049999999, -9784441.47, -2216277.4200000004, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'internet', 6216439.54, -7995292.49, -1778852.9500000002, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.470000001, -4973004.96, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'internet', 4737790.279999999, -6100900.16, -1363109.8800000001, 'OUTFLOW')]

In [18]:
%%sql
SELECT 
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS TOTAL_SUM,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
 channel

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('atm', 14578923.850000001, -111512320.63, -96933396.78, 'OUTFLOW'),
 ('internet', 74404500.50999993, -103473226.90000007, -29068726.389999956, 'OUTFLOW'),
 ('system', 251441783.0500001, -176631281.4899896, 74810501.56000988, 'INFLOW'),
 ('teller', 82452458.30999988, -20761962.520000007, 61690495.78999996, 'INFLOW')]